.viewForm {
    background-color: #fff;
    margin-top: 0px;
    border: dotted 1px #666;
    padding: 0px 0px 0px 0px;
}

.viewFormChildActions {
    background-color: #fff;
    margin: 5px 10px 0px 10px;
    color: #666;
    padding: 0px;
    border: dotted 0px #666;
}

.viewFormMain {
    background-color: #eee;
    border: dotted 1px #666;
    margin: 5px 10px 0px 10px;
    padding-top: 5px;
}

.viewFormSectionTitle {
    color: #999;
    margin: 0px 0px 5px 210px;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
}

.viewFormContainer {
    margin: 0px;
}

.viewFormLabelContainer {
    clear: both;
    float: left;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

.viewFormDefaultLabel {
    color: #666;
    font-weight: normal;
}

.viewFormRequiredLabel {
    color: #666;
    font-weight: bold;
}

.viewFormErrorLabel {
    color: #c00;
    font-weight: bold;
}

.viewFormLabelContainer div {
    color: #666;
    font-weight: normal;
    font-size: x-small;
}

.viewFormInputWithError {
    color: #eee;
    background-color: #f00;
}

.viewFormLeftColumnTitle, .viewFormRightColumnTitle {
    color: #999;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
}

.viewFormLeftColumnTitle {
    clear: both;
    float: left;
    width: 200px;
    text-align: right;
    margin: 0pt 10pt 5pt 0pt;
}

.viewFormRightColumnTitle {
    margin: 0pt 0pt 5pt 0pt;
}

.viewFormContentPlainLineTitle {
	color: #999;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}

.viewFormRequirements {
    margin-left: 210px;
    font-size: x-small;
}





.viewFormMeta {
    clear: both;
    background-color: #eee;
    margin: 5px 10px 0px 10px;
    color: #666;
    padding: 3px;
    border: dotted 1px #666;
}





.viewFormPermissions {
    clear: both;
    background-color: #eee;
    margin: 5px 10px 0px 10px;
    color: #666;
    padding: 3px 3px 3px 0px;
    border: dotted 1px #666;
}

.viewFormPermissionLabel {
    clear: both;
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    color: #666;
    font-weight: bold;
}

.viewFormPermissionHint {
    color: #666;
    font-weight: normal;
    font-size: x-small;
}




.viewFormDate {
    background-color: #eee;
    border: dotted 1px #666;
    padding: 3px;
    margin: 5px 10px 0px 10px;
}

.viewFormDateLabel {
    color: #666;
    font-weight: bold;
    font-size: small;
}




.viewFormSubmit {
    background-color: #fff;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}
















.fileProperties {
    border: dotted 1px #666;
    margin-bottom: 20px;
    padding: 0px;
}
.filePropertiesLabel {
    background-color: #fff;
    color: #666;
    border-bottom: dotted 1px #666;
    text-align: left;
}
.filePropertiesValue {
    background-color: #fff;
    color: #666;
    border-bottom: dotted 1px #666;
    text-align: right;
}

.filePropertiesUpload {
    background-color: #fff;
    color: #eee;
}

.filePropertiesDelete {
    background-color: #fff;
    color: #c00;
    text-align: right;
}